@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap");

/* defining classes */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  padding: 0 100px;
  min-height: 100vh;
}

.container:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: #333;
  z-index: -2;
}
.container:after {
  content: "Beaty Zone";
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 18vw;
  background: #333;
  z-index: -2;
  font-weight: 700;
  color: #000;
  opacity: 0.4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
header .logo {
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
  text-decoration: none;
  font-size: 30px;
}
header .logo span {
  color: #8f71f3;
}
header ul {
  position: relative;
  display: flex;
}
/* arranging the header  aligning home menu about etc */
header ul li {
  list-style: none;
  margin: 0 20px;
}
header ul li a {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  padding: 4px 10px;
  color: #333;
  text-decoration: none;
}

header ul li:nth-child(3) a,
header ul li:nth-child(4) a {
  color: rgb(146, 29, 29);
}
header ul li a:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #8f71f3;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
header ul li a:hover:before,
header ul li a.active:before {
  width: 40px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.content .bannerText {
  position: relative;
  max-width: 500px;
  margin-right: 50px;
}

.content .bannerText div {
  display: none;
}
.content .bannerText div.active {
  display: initial;
}

.content .bannerText h2 {
  font-size: 54px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.2em;
  color: #333;
}

.content .bannerText p {
  font-size: 18px;
  color: #333;
  line-height: 1.8em;
  margin: 20px 0;
}
.content .bannerText a {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  letter-spacing: 1px;
  font-size: 18px;
  text-decoration: none;
  padding: 15px;
}
.content .bannerText a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background: #8f71f3;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
.content .bannerText a:hover:before {
  width: 100%;
}
.content .bannerImg {
  position: relative;
  width: 440px;
  height: 440px;
  background: #000;
}
.content .bannerImg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  opacity: 0;
}
.content .bannerImg img.active {
  opacity: 1;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px 0;
  margin-top: 50px;
}

.icons .sci,
.icons .controls {
  position: relative;
  display: flex;
}
.icons .sci li {
  list-style: none;
  margin-right: 30px;
}
.icons .sci li img {
  display: inline-block;
  max-height: 24px;
  transition: 0.5s ease-in-out;
}
.icons .sci li:hover img {
  transform: translateY(-10px);
}
.icons .controls li {
  list-style: none;
  margin-left: 20px;
  cursor: pointer;
  filter: invert(1);
  transition: 0.5s ease-in-out;
}
.icons .controls li:hover {
  opacity: 1;
}

@media (max-width: 992px) {
  .container {
    padding: 20px 50px;
  }
  .container:before {
    display: none;
  }
  header {
    padding: 0;
  }
  .icons .controls li {
    filter: invert(0);
  }
  .content .bannerText h2 {
    font-size: 30px;
  }
  .content {
    margin-top: 0;
    flex-direction: column-reverse;
  }
  .content .bannerImg {
    width: 100%;
    height: 40vh;
    margin: 20px 0;
  }
  .content .bannerText {
    max-width: 100%;
    padding-right: 0;
  }
  header ul {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: initial;
    background: #fff;
    z-index: 10000;
    padding: 100px 0;
  }
  header.active ul {
    display: initial;
  }
  header ul li {
    padding: 20px;
    text-align: center;
  }
  header ul li a {
    color: #333 !important;
    font-size: 36px;
  }
  header ul li a:hover:before,
  header ul li a.active:before {
    width: 100%;
  }
  .menuIcon {
    display: initial;
    position: fixed;
    right: 50px;
    cursor: pointer;
    padding: 8px;
    z-index: 100000;
    background: #fff url(menu.png);
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-position: 6px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 20px 30px;
  }
  .menuIcon {
    right: 30px;
  }
  .icons .controls li img {
    max-width: 40px;
  }
}

body {
  margin-top: 20px;
}

.img-effect:hover {
  opacity: 0.9;
  cursor: pointer;
  border-radius: 0px;
  -webkit-transform: scale(1.2, 1.2);
  -webkit-transition-timing-function: ease-out;
  -moz-transform: scale(1.2, 1.2);
  -moz-transition-timing-function: ease-out;
  -ms-transform: scale(1.2, 1.2);
  -ms-transition-timing-function: ease-out;

  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #1f201f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #3a3b3a;
}

@media screen and (max-width: 767px) {
  .product-rating i {
    font-size: 15px;
  }
}
.text-secondary {
  color: #004975 !important;
  position: relative;
  text-align: center;
}
.card-wrapper {
  position: relative;
  overflow: hidden;
}
.card-wrapper .card-img {
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.card-wrapper .card-img img {
  transition: all 0.3s ease-in-out;
  border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.card-wrapper .card-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  padding: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  transform: translateX(-100%);
  transition: 0.8s;
  z-index: 11;
}

.card-wrapper:before {
  content: "";
}

.firstImg:before {
  content: "If you think you know pixies, think again! Find a chic and edgy short pixie that will prove that not all these looks are created equal.";
  font-size: 4vw;
  width: 100%;
  font-size: 4vw;
  font-family: Cursive;
  color: #e0e4e7;
  position: absolute;
  height: 100%;
  top: 0;
  right: 100%;
  z-index: 12;
  transition: 0.8s;
  background: rgba(47, 47, 48, 0.82);
  border-radius: 0.25rem;
}
.secondImg:before {
  content: "Add more volume to your thin, fine hair with one of these super cute cuts that became popular in the 70's!";
  font-size: 4vw;
  width: 100%;
  font-size: 4vw;
  font-family: Cursive;
  color: #e0e4e7;
  position: absolute;
  height: 100%;
  top: 0;
  right: 100%;
  z-index: 12;
  transition: 0.8s;
  background: rgba(47, 47, 48, 0.82);
  border-radius: 0.25rem;
}
.thirdImg:before {
  content: "If you're afraid to go too short with a pixie, then you must check out one of these gorgeous lixies (long pixies!)";
  font-size: 4vw;
  width: 100%;
  font-size: 4vw;
  font-family: Cursive;
  color: #e0e4e7;
  position: absolute;
  height: 100%;
  top: 0;
  right: 100%;
  z-index: 12;
  transition: 0.8s;
  background: rgba(47, 47, 48, 0.82);
  border-radius: 0.25rem;
}
.fourthImg:before {
  content: "Get ready to be inspired for your next edgy look. Whether you want to have shaved sides and longer hair on top or an edgy pattern underneath your hair, you'll find a cool undercut look for you.";
  font-size: 4vw;
  width: 100%;
  font-size: 4vw;
  font-family: Cursive;
  color: #e0e4e7;
  position: absolute;
  height: 100%;
  top: 0;
  right: 100%;
  z-index: 12;
  transition: 0.8s;
  background: rgba(47, 47, 48, 0.82);
  border-radius: 0.25rem;
}
.fifthImg:before {
  content: "These are some of my favorite stacked bobs haircuts and hairstyles for this year! Come see which one will suit you best.";
  font-size: 4vw;
  width: 100%;
  font-size: 4vw;
  font-family: Cursive;
  color: #e0e4e7;
  position: absolute;
  height: 100%;
  top: 0;
  right: 100%;
  z-index: 12;
  transition: 0.8s;
  background: rgba(47, 47, 48, 0.82);
  border-radius: 0.25rem;
}

.card-wrapper:hover:before {
  right: 0;
}
.card-wrapper h3,
.card-wrapper p {
  color: #fff;
}
.card-wrapper .read-more {
  color: #fff;
}
.card-wrapper .read-more:after {
  color: #fff;
}
.card-wrapper:hover .card-section {
  visibility: visible;
  transform: translateX(0px);
}
.card-wrapper:hover .backgound-color {
  right: 0;
}

.mb-2-6,
.my-2-6 {
  margin-bottom: 2.6rem;
}
.text-primary {
  color: #00baee !important;
}

/* test css animations */

.spanner span {
  position: fixed;
  bottom: -50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  animation: animate 10s linear infinite;
}
.spanner span:nth-child(1) {
  left: 0;
  animation-delay: 0.6s;
  background-color: #8f71f3;
}
.spanner span:nth-child(2) {
  left: 10%;
  animation-delay: 3s;
  background-color: #8f71f3;
}
.spanner span:nth-child(3) {
  left: 20%;
  animation-delay: 2s;
  background-color: #000;
}
.spanner span:nth-child(4) {
  left: 30%;
  animation-delay: 5s;
  background-color: #8f71f3;
}
.spanner span:nth-child(5) {
  left: 40%;
  animation-delay: 1s;
  background-color: #8f71f3;
}
.spanner span:nth-child(6) {
  left: 50%;
  animation-delay: 7s;
  background-color: #000;
}
.spanner span:nth-child(7) {
  left: 60%;
  animation-delay: 6s;
  background-color: #000;
}
.spanner span:nth-child(8) {
  left: 70%;
  animation-delay: 8s;
  background-color: #000;
}
.spanner span:nth-child(9) {
  left: 80%;
  animation-delay: 5s;
  background-color: #8f71f3;
}

.spanner span:nth-child(10) {
  left: 90%;
  animation-delay: 4s;
  background-color: #000;
}

@keyframes animate {
  0% {
    bottom: 0;
    margin-left: 90px;
    margin-right: 0;
  }
  20% {
    bottom: 20%;
    margin-left: 0;
    margin-right: 90px;
  }
  40% {
    bottom: 40%;
    margin-left: 90px;
    margin-right: 0;
  }
  60% {
    bottom: 60%;
    margin-left: 0;
    margin-right: 90px;
  }
  80% {
    bottom: 80%;
    margin-left: 90px;
    margin-right: 0;
  }
  100% {
    bottom: 100%;
    margin-left: 0;
    margin-right: 90px;
  }
}

#box {
  width: 100px;
  height: 100px;
  background: #000;
}

strong {
  font-size: 30px;
  opacity: 0;
  transition: all 1s ease;
  /* transform: translateY(50px);
  display: inline-block; */
}

strong.fade {
  opacity: 1;
  /* transform: translateY(0px); */
}
